.IndexMain {
    background-color: rgb(233, 255, 237);
}

.Indexgroup {
    border-color: rgb(126, 126, 126);
    border-radius: 1cap;
    border-style: solid;
    background-color: white;
}

.GroupTags {
    text-align: right;
}

.LinkText{
    color: black;
    text-decoration-line: none;
}