{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <h1> Libraries Used </h1>
    <br>
    <li> alembic==1.13.1 </li>
    <li> blinker==1.7.0 </li>
    <li> certifi==2024.2.2 </li>
    <li> cffi==1.16.0 </li>
    <li> click==8.1.7 </li>
    <li> colorama==0.4.6 </li>
    <li> dnspython==2.6.1 </li>
    <li> email_validator==2.1.1 </li>
    <li> Flask==3.0.3 </li>
    <li> Flask-Login==0.6.3 </li>
    <li> Flask-Migrate==4.0.7 </li>
    <li> Flask-SQLAlchemy==3.1.1 </li>
    <li> Flask-WTF==1.2.1 </li>
    <li> greenlet==3.0.3 </li>
    <li> h11==0.14.0 </li>
    <li> idna==3.7 </li>
    <li> itsdangerous==2.2.0 </li>
    <li> Jinja2==3.1.3 </li>
    <li> Mako==1.3.3 </li>
    <li> MarkupSafe==2.1.5 </li>
    <li> outcome==1.3.0.post0 </li>
    <li> pycparser==2.22 </li>
    <li> PySocks==1.7.1 </li>
    <li> python-dotenv==1.0.1 </li>
    <li> selenium==4.20.0 </li>
    <li> sniffio==1.3.1 </li>
    <li> sortedcontainers==2.4.0 </li>
    <li> SQLAlchemy==2.0.29 </li>
    <li> trio==0.25.0 </li>
    <li> trio-websocket==0.11.1 </li>
    <li> typing_extensions==4.11.0 </li>
    <li> urllib3==2.2.1 </li>
    <li> Werkzeug==3.0.2 </li>
    <li> wsproto==1.2.0 </li>
    <li> WTForms==3.1.2 </li>
    <li> attrs==23.2.0 </li>
    <br>
    <p>
        <h1> Description </h1>
        To create schedules of study groups and their meetings. Plan dates and tag your units.
        <br>
        <br>
        <h1>Our Team</h1>
        | Student ID | Student Name     | GitHub Name     |<br>
        |------------|------------------|-----------------|<br>
        | 23724285   | Krish Dubey      | Krish-Dubey     |<br>
        | 23924286   | Atticus Bond     | HyperCherrim    |<br>
        | 23631345   | Callum Greenwald | CallumGreenwald |<br>
        | 23120741   | Nathan Foley     | Nathan-Foley    |
        <br>
        <br>
        <h1>Application Summary</h1>
        Utilising Flask, SQLAlchemy and Bootstrap to create a seamless and coherent study group experience.
        <br>
        <br>
        <h1>Launch Instructions:</h1>
        Before first launch, the database must be initialised to avoid errors. To do this, enter the Backend directory
        and execute flask db upgrade to populate a new (empty) database file.
        After the database file has been created (check app/ for a file named appDatabase.db), the app can be executed
        using flask run, also from the Backend folder.
        <br>
        <br>
        <h3>Note regarding launching from the ZIP file</h3>
        <li>These instructions may differ based on how the submission is packaged - these instructions are for running the
        app from the Git repo.</li>
        <br>
        <h1>Running Tests</h1>
        Currently no tests - these will be covered shortly.
    </p>
</div>

{% endblock %}