{% extends "base.html" %}

{% block content %}

<div class="container">
    <p>
        <h1> Description </h1>
        Our main purpose is for university students to create and join study groups.
        <br>
        We want to make it easier for you to find other students that are doing the same units as you at the same time, and help you find members for group projects (if your units have them).
        <br>
        <br>
        Creators can plan the days and times they are available, add tags for which unit(s) they want to study.
        <br>
        Groups are available to join and their tags are automatically displayed on the home page.
        <br>
        <br>
        This way every student can join groups that match the units they're currently studying.
        <br>
        Students can see when other students are avalible and plan meetings accordingly for study sessions.
        <br>
        <br>
        <h1>Our Team</h1>
        | Student ID | Student Name     | GitHub Name     |<br>
        |------------|------------------|-----------------|<br>
        | 23724285   | Krish Dubey      | Krish-Dubey     |<br>
        | 23924286   | Atticus Bond     | HyperCherrim    |<br>
        | 23631345   | Callum Greenwald | CallumGreenwald |<br>
        | 23120741   | Nathan Foley     | Nathan-Foley    |
        <br>
        <br>
        <h1>Application Summary</h1>
        Utilising Flask, SQLAlchemy and Bootstrap to create a seamless and coherent study group experience.
        <br>
        <br>
    </p>
</div>

{% endblock %}