{% extends "base.html" %}

{% block content %}

<script src='../static/validateNewPassword.js'></script>

<div class="form" id="StartCreateStudyGroupForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.groupTitle.label }}<br>
            {{ form.groupTitle(size=32) }}
            {% for error in form.groupTitle.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.groupTag1.label }}<br>
            {{ form.groupTag1(size=32) }}<br>
            {{ form.groupTag2(size=32) }}<br>
            {{ form.groupTag3(size=32) }}
        </p>
        <p>
            {{ form.Description.label }}<br>
            {{ form.Description(size=32) }}
        </p>
        <p>
            {{ form.mondayStartTime.label }}
            {{ form.mondayStartTime }}
        </p><br>
        <p>
            {{ form.mondayEndTime.label }}
            {{ form.mondayEndTime }}
        </p><br>
        <p>
            {{ form.tuesdayStartTime.label }}
            {{ form.tuesdayStartTime }}
        </p><br>
        <p>
            {{ form.tuesdayEndTime.label }}
            {{ form.tuesdayEndTime }}
        </p><br>
        <p>
            {{ form.webnesdayStartTime.label }}
            {{ form.webnesdayStartTime }}
        </p><br>
        <p>
            {{ form.webnesdayEndTime.label }}
            {{ form.webnesdayEndTime }}
        </p><br>
        <p>
            {{ form.thursdayStartTime.label }}
            {{ form.thursdayStartTime }}
        </p><br>
        <p>
            {{ form.thursdayEndTime.label }}
            {{ form.thursdayEndTime }}
        </p><br>
        <p>
            {{ form.fridayStartTime.label }}
            {{ form.fridayStartTime }}
        </p><br>
        <p>
            {{ form.fridayEndTime.label }}
            {{ form.fridayEndTime }}
        </p><br>
        <p>
            {{ form.saterdayStartTime.label }}
            {{ form.saterdayStartTime }}
        </p><br>
        <p>
            {{ form.saterdayEndTime.label }}
            {{ form.saterdayEndTime }}
        </p><br>
        <p>
            {{ form.sundayStartTime.label }}
            {{ form.sundayStartTime }}
        </p><br>
        <p>
            {{ form.sundayEndTime.label }}
            {{ form.sundayEndTime }}
        </p><br>
        <p>{{ form.groupRequestSubmition }}</p>

        <!-- the following lines are the information that is required to make a post-->


        <!-- <label for="CreateStudyGroupFormTitle"> Title </label> <br>
        <input type="text" id="CreateStudyGroupFormTitle" name="CreateStudyGroupFormTitle">
        <br> -->
        <!-- This is for adding tags. I think we should allow 3 tags because you can have on for the unit, what their studying for (test etc) and a spare for something else-->
        <!-- <label for="CreateStudyGroupFormTag1"> Tags</label> <br>
        <input type="text" id="CreateStudyGroupFormTag1" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag1">
        <input type="text" id="CreateStudyGroupFormTag2" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag2">
        <input type="text" id="CreateStudyGroupFormTag3" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag3">
        <br>
        <br>
        <br>
        <br>
        <label for="CreateStudyGroupFormDescription"> Description </label> <br>
        <input type="text" id="CreateStudyGroupFormDescription" name="CreateStudyGroupFormDescription">
        <br> -->


        <!-- We will need to find some way so that users can add their avalability in a convienient way-->
        <!-- Currently I have it so Users will pick a start and end DateTime and we will javascript to collect that range on each click of the button below. -->
        <!-- <label for="CreateStudyGroupFormDatesStart"> Availability Start </label> <br>
        <input type="datetime-local" id="CreateStudyGroupFormDatesStart" name="CreateStudyGroupFormDatesStart">
        <br>
        <label for="CreateStudyGroupFormDatesEnd"> Availability End </label> <br>
        <input type="datetime-local" id="CreateStudyGroupFormDatesEnd" name="CreateStudyGroupFormDatesEnd">
        <br>
        <label for="CreateStudyGroupFormDatesAdd"> Add range to availability</label> <br>
        <input type="button" id="CreateStudyGroupFormDatesAdd" value="Add">
        <br> -->
        <input type="submit" id="CreateStudyGroupFormSubmit" name="CreateStudyGroupFormSubmit">
        <div>
            <label for="week">Select Week Starting From Today:</label>
            <input type="week" id="week" min="<?php echo date('Y-m-d'); ?>">
        </div>
        
        <div id="scheduleInputs">
            <!-- Inputs for each day of the week will be added here -->
        </div>
        
        <button onclick="saveSchedule()">Save Schedule</button>
    </form>

    <div class="calendar">
    
        <header>
            <div class="calendar__title" style="display: flex; justify-content: center; align-items: center">
            <div class="icon secondary chevron_left">‹</div>
            <h1 class="" style="flex: 1;">22 APRIL – 28 APRIL 2024</h1>
            <div class="icon secondary chevron_left">›</div>
            </div> 
            <div style="align-self: flex-start; flex: 0 0 1"></div>
        </header>
        
        <div class="outer">
    
        <!-- in java need to dynamically se the dates -->
        <table>
        <thead>
        <tr>
            <th class="headcol"></th>
            <th class="today">Mon, 22</th>
            <th>Tue, 23</th>
            <th>Wed, 24</th>
            <th>Thu, 25</th>
            <th>Fri, 26</th>
            <th class="secondary">Sat, 27</th>
            <th class="secondary">Sun, 28</th>
        </tr>
        </thead>
        </table>
    
        <div class="wrap"> 
            <table class="offset">
        
                <tbody>
                    <tr class="tableHour">
                        <td class="headcol">0:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">0:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">1:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">1:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">2:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">2:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">3:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">3:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">4:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">4:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">5:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">5:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">6:00</td>
                        <td></td>
                        <td></td>
                        <td class="past"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">6:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">7:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">7:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">8:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">8:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">9:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">9:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">10:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">10:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">11:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">11:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">12:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">12:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">13:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">13:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">14:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">14:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">15:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">15:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">16:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">16:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">17:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">17:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">18:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">18:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">19:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">19:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">20:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">20:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">21:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">21:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">22:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">22:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">23:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol">23:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tableHour">
                        <td class="headcol"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}