{% extends "base.html" %}

{% block content %}



<div class="container buttonArea d-flex justify-content-center" style="padding-top:100px; padding-bottom:70px">
    <form class="buttonForm">
        <!-- <button type="button" class="btn btn-primary" onclick="location.href='#'">View Tags</button> --> <!-- Commented since it will likely not be needed -->
        <form action='{{ url_for("submit_request") }}'>
            <button type="submit" class="btn btn-primary">Submit a Request</button> <!-- These buttons are not linking anywhere just yet (due to said pages not existing) -->
        </form>
    </form>
</div>
<div class="container studyGroups">
    <h3 style="align-items:center">Study Groups</h3>
    <div class="selectClassMobile .d-lg-none w-25 justify-content-center"> <!-- Only show the dropdown on smaller screens -->
        <form>
            <label for="studyTags">Select unit:</label>
            <select id="studyTags" class="form-select" name="studyTags">
                <option value="none">Select unit:</option>
                {% for item in groups %}
                <option value="{{item.selectedUnit}}">{{ item.unit }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="btn-group d-flex w-50 justify-content-center .d-xs-none .d-sm-none .d-md-block" role="group" aria-label="Select Study Group">
        <!-- Thought Process: Have a bunch of buttons on the page.  Clicking one will retrieve the relevant study group. -->
        <!-- Implementation Process: I have no f***ing idea. AJAX/Database shenanigans maybe?  -->
        <form>
        {% for item in groups %}
        <button type="button" class="btn btn-primary">{{ item.unit }}</button> <!-- TBC: Implement response to someone pushing buttons.  No, that does not mean annoying them. -->
        {% endfor %}
        <br>
        <input type="submit" value="View Groups">
        </form>
    </div>
</div>

<div class="container-fluid justify-content-center d-flex">
    <p>Data will go here once we have the ability to make groups dynamically.</p>
</div>

{% endblock %}