{% extends "base.html" %}

{% block content %}

<div class="container buttonArea d-flex justify-content-center" style="padding-top:100px; padding-bottom:70px">
    <div class="buttonForm">
        <!-- <button type="button" class="btn btn-primary" onclick="location.href='#'">View Tags</button> --> <!-- Commented since it will likely not be needed -->
        <a href='{{ url_for("createGroup") }}'>
            <button class="btn btn-primary">Submit a Request</button> <!-- These buttons are not linking anywhere just yet (due to said pages not existing) -->
        </a>
    </div>
</div>
<div class="container studyGroups">
    <h3 style="align-items:center">Study Groups</h3>
    <div class="selectClassMobile .d-md-none w-25 justify-content-center"> <!-- Only show the dropdown on smaller screens -->
        <form>
            <label for="studyTags">Select unit:</label>
            <select id="studyTags" class="form-select" name="studyTags">
                <option value="none">Select unit:</option>
                {% for item in units %}
                <option value="{{item.selectedUnit}}">{{ item[0] }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="btn-group d-flex w-50 justify-content-center .d-xs-none .d-sm-none .d-md-block" role="group" aria-label="Select Study Group">
        <!-- Thought Process: Have a bunch of buttons on the page.  Clicking one will retrieve the relevant study group. -->
        <!-- Implementation Process: TBC. AJAX/Database enchancements maybe?  -->
        <form>
        {% for item in groups %}
        <div class="container-fluid justify-content-center">
            <h3>{{ item.groupTitle }}</h3>
            <hr>
            <p> Description: {{ item.description }} </p><br>
            <p> Available times: {{ item.availStart }} to {{ item.availEnd }}</p><br>
            <p> Tags: {{ item.tagOne }}, {{ item.tagTwo if not null }}, {{ item.tagThree if not null }}</p><br>
            <p> Required students: {{ item.requiredStudents }}</p>
        </div>
        {% endfor %}
        <!-- TODO: Show elements in a bubble with the required dates/times, -->
        <br>
        <input type="submit" value="View Groups">
        </form>
    </div>
</div>

<div class="container-fluid justify-content-center d-flex">
    <p>Data will go here once we have the ability to make groups dynamically.</p>
</div>

{% endblock %}