{% extends "base.html" %}

{% block content %}

<body>

<link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>

<div class="form" id="StartCreateStudyGroupForm">
    <form>
        <!-- the following lines are the information that is required to make a post-->
        <label for="CreateStudyGroupFormTitle"> Title </label> <br>
        <input type="text" id="CreateStudyGroupFormTitle" name="CreateStudyGroupFormTitle">
        <br>
        <!-- This is for adding tags. I think we should allow 3 tags because you can have on for the unit, what their studying for (test etc) and a spare for something else-->
        <label for="CreateStudyGroupFormTag1"> Tags</label> <br>
        <input type="text" id="CreateStudyGroupFormTag1" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag1">
        <input type="text" id="CreateStudyGroupFormTag2" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag2">
        <input type="text" id="CreateStudyGroupFormTag3" class="CreateStudyGroupFormTags" name="CreateStudyGroupFormTag3">
        <br>
        <br>
        <br>
        <br>
        <label for="CreateStudyGroupFormDescription"> Description </label> <br>
        <input type="text" id="CreateStudyGroupFormDescription" name="CreateStudyGroupFormDescription">
        <br>
        <!-- We will need to find some way so that users can add their avalability in a convienient way-->
        <!-- Currently I have it so Users will pick a start and end DateTime and we will javascript to collect that range on each click of the button below. -->
        <label for="CreateStudyGroupFormDatesStart"> Availability Start </label> <br>
        <input type="datetime-local" id="CreateStudyGroupFormDatesStart" name="CreateStudyGroupFormDatesStart">
        <br>
        <label for="CreateStudyGroupFormDatesEnd"> Availability End </label> <br>
        <input type="datetime-local" id="CreateStudyGroupFormDatesEnd" name="CreateStudyGroupFormDatesEnd">
        <br>
        <label for="CreateStudyGroupFormDatesAdd"> Add range to availability</label> <br>
        <input type="button" id="CreateStudyGroupFormDatesAdd" value="Add">
        <br>
        <input type="submit" id="CreateStudyGroupFormSubmit" name="CreateStudyGroupFormSubmit">

    </form>


</div>

</body>

{% endblock %}