{% extends "base.html" %}

{% block content %}
<div class="centerBox">
    <div class="header">
        <h1> Create a Group</h1>
    </div>
</div>

<div class="groupSubmitForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p id="groupTitle">
            {{ form.groupTitle.label }}
            {{ form.groupTitle(size=30) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="tagOne">
            {{ form.tagOne.label }}
            {{ form.tagOne(size=10) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="tagTwo">
            {{ form.tagTwo.label }}
            {{ form.tagTwo(size=10) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="tagThree">
            {{ form.tagThree.label }}
            {{ form.tagThree(size=10) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="groupDesc">
            {{ form.groupDesc.label }}
            {{ form.groupDesc(size=45) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="availStart">
            {{ form.availStart.label }}
            {{ form.availStart(size=10) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="availEnd">
            {{ form.availEnd.label }}
            {{ form.availEnd(size=10) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="requiredStudents">
            {{ form.requiredStudents.label }}
            {{ form.requiredStudents(size=8) }}
            {% for errorCode in errors %}
            <span style="color:orange">{{ errorCode }}</span>
            { % endfor %}
        </p>
        <p id="submit">
            {{ form.submitButton() }}
        </p>
    </form>
</div>
{% endblock %}