{% extends "base.html" %}

{% block content %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href={{ cssFile }}>
    <script src='../javascript/validateNewPassword.js'></script>
</head>
<body>

<div class="centerBox">
    <h1>
        Password Reset Page
    </h1>
    <br>
    <form action="/submitEmail">
        <label for="studentEmail">Linked Email:</label><br>
        <input type="text" id="studentEmail" name="studentEmail"><br> <!-- change of ID to match the field, otherwise the validator whines about it-->
        <!-- submit button to send info to the server for the password reset -->
        <input type="submit" value="Send Reset">
        <div class="linkNextPage">
            <a id="relogin" href='{{ url_for("user_login") }}'>Go Back</a><br>
        </div>
    </form>
</div>

{% endblock %}