{% extends "base.html" %}

{% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href={{ cssFile }}>
</head>

<div class="centerBox">
    <h1>
        Sign in Page
    </h1>
    <br>
    <form action="" method="post">
        <!-- Changed IDs to match the input fields to fix validator issues -->
        {{ form.hidden_tag() }}
        <p> {{ form.studentUser.label }}
            {{ form.studentUser(size=100) }}
        </p>
        <p>
            {{ form.studentPwd.label }}
            {{ form.studentPwd(size=48)}}
        </p>
        <p>
            <!-- submit button to send info to the server -->
            {{ form.loginButton() }}
        </p>
        <div class="linkNextPage">
            <p>Forgot password? Click <a href="{{ url_for('password_reset') }}">here!</a></p>
        </div>
        <div class="register">
            <p>Don't have an account? Click <a href="{{url_for('user_creation')}}">here!</a></p>
        </div>
    </form>
</div>

{% endblock %}