{% extends "base.html" %}

{% block content %}

<link rel='stylesheet' type='text/css' media='screen' href={{ cssFile }}>

<div class="centerBox">
    <div class="header">
        <h1>
            Create an Account
        </h1>
    </div>
    <br> <!-- Changed IDs in the <label> tag to match the valid input -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.studentFN.label }}
            {{ form.studentFN(size=25)}}
            {% for errorcode in form.studentFN.errors %}
            <span style="color:orange">[{{ errorcode }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.studentUN.label }}
            {{ form.studentUN(size=25)}}
            {% for errorcode in form.studentUN.errors %}
            <span style="color:orange">[{{ errorcode }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.studentEM.label }}
            {{ form.studentEM(size=40)}}
            {% for errorcode in form.studentEM.errors %}
            <span style="color:orange">[{{ errorcode }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.studentPW.label }}
            {{ form.studentPW(size=25)}}
            {% for errorcode in form.studentPW.errors %}
            <span style="color:orange">[{{ errorcode }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.studentCW.label }}
            {{ form.studentCW(size=25)}}
            {% for errorcode in form.studentPW.errors %}
            <span style="color:orange">[{{ errorcode }}]</span>
            {% endfor %}
        </p>
        <p class=""> {{ form.submitButton() }}</p> <!-- TODO: Rig up something to disable the button until all text boxes are filled-->
        <!-- could do some validation becausee they would be student emails  - this can be done with Flask-->

        <div class="linkNextPage">
            <a id="forgot-password" href='{{ url_for("user_login") }}'>Already have an account?</a><br>
        </div>
        <!-- submit button to send info to the server about the new user - it is disabled until the password and emails are correct-->
        <!--<input type="submit" value="Sign In" disabled> -->
    </form>
</div>

{% endblock %}