{% extends "base.html" %}

{% block content %}

<div class="UserpageMainblock container">
    <div>
        <h1 class="UserPageUsernameDisplay">
            {{ user }}
        </h1>
    </div>
    <br>
    <br>
    {% if groups %}
    <div class="row AllGroupsUserPage container-fluid">
        {% if groups == "User is not a member of any groups!" %}
            <h3>User is not a member of any groups!</h3>
        {% else %}
            {% for group in groups %}
                <div class=" col oneGroupUserPage">
                    <p>Test: {{ notifications[group]["ID"]}}</p>
                    <a href='{{ url_for("submitResponse", groupID=notifications[group]["ID"]) }}'>{{ group }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <p> looks like you havn't applied to any groups. Go to the home page to see interesting groups</p>
    {% endif %}
    <br>
    {% if notifications %}
    <div class="container-fluid" id="notifications">
        {% for notification in notifications %}
        <div class="notification row">
            <div class=" col NotificationTitle">
                <h5 class="notificationTitle">{{ notification.Title}}</h2> <br>
                GROUP FORMED!
            </div>
            <div class="col emails">
                <h6> Group members</h6>
                {% for email in notification.emails %}
                {{ email }} <br>
                {% endfor %}
            </div>
            <div class="col timedates">
                Times that work <br>
                {% for datetime in notification.timedate %}
                {{ datetime }} <br>
                {% endfor %}
            </div>

        </div>
        <br>
        {% endfor %}
    </div>
    {% else %}
    <p> You Don't Have any notifications.</p>
    {% endif %}
</div>
{% endblock %}